a.out
screenshots/
*~
/rtv1
/SDL2-2.0.8/
obj
/websocket/websocket
/include.dep
/vendor/install_sdl/include.dep
vendor/SDL/*
/.sdl_includes
/.sdl_links
/rtv1.dSYM
src/brackets/a.out.dSYM
libft/libft.a
libft/*/*.o
